#billing_email {
  transition: border 0.3s ease;
}

.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-email input.input-text,
.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-phone input.input-text,
.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-postcode input.input-text,
.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-city input.input-text,
.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-address input.input-text,
.woocommerce form.woocommerce-checkout .form-row.woocommerce-invalid-required input.input-text {
  border: #d9534f solid 2px !important;
}

.woocommerce form.woocommerce-checkout .form-row span.form-error {
  font-size: 0.9em !important;
  padding-top: 4px !important;
  color: #d9534f !important;
}

p.woocommerce-invalid-email span.form-error__invalid-email,
p.woocommerce-invalid-phone span.form-error__invalid-phone,
p.woocommerce-invalid-postcode span.form-error__invalid-postcode,
p.woocommerce-invalid-city span.form-error__invalid-city,
p.woocommerce-invalid-address span.form-error__invalid-address,
p.woocommerce-invalid-required span.form-error__invalid-required {
  display: block !important;
}
